@import "../prefix.pcss";
@import "../colors.pcss";
@import "../theme.pcss";

.$(prefix) {
  &--cookiemodal {
    display: flex;

    &-check {
      &:not(:last-child) {
        margin: $size--spacing-05 0;
      }
    }
  }
}
