@import "../colors.pcss";
@import "../theme.pcss";

.cookiemodal {
  display: flex;

  &--check {
    margin: 1rem 0;

    &-description {
      margin-top: $spacing-02;
      color: $warm-gray-70;
    }
  }
}
