.copybutton {
  display: flex;
  position: relative;
  justify-content: center;
  width: max-content;

  & > button > div > .icon.icon-tabler.icon-tabler-check {
    position: absolute;
  }
}

.copybutton.copybutton--copied {
  & > button > .button--label {
    justify-content: center;
    & > span {
      visibility: hidden;
      opacity: 0;
    }
  }
}
