.$(prefix)--copybutton {
  display: flex;
  position: relative;
  justify-content: center;
  width: max-content;

  & > button > div > .icon {
    position: absolute;
  }
}

.$(prefix)--copybutton.$(prefix)--copybutton-copied {
  & > .$(prefix)--button-label {
    justify-content: center;

    & > svg {
      stroke: var(--color-font-success);
    }

    & > span {
      visibility: hidden;
      opacity: 0;
    }
  }
}
