@import "../prefix.pcss";

.$(prefix)--copybutton {
  display: flex;
  position: relative;
  justify-content: center;
  width: max-content;

  & > button > div > .icon.icon-tabler.icon-tabler-check {
    position: absolute;
  }
}

.$(prefix)--copybutton.$(prefix)--copybutton--copied {
  & > button > .$(prefix)--button--label {
    justify-content: center;

    & > span {
      visibility: hidden;
      opacity: 0%;
    }
  }
}
