.$(prefix) {
  &--divider {
    width: 100%;
    height: 0.0625rem;
    margin: 0;
    border: 0;
    opacity: 1;

    &-default {
      background-color: var(--color-divider-default);
    }

    &-subtle {
      background-color: var(--color-divider-subtle);
    }

    &-harsh {
      background-color: var(--color-divider-harsh);
    }
  }
}
