@import "../prefix.pcss";
@import "../theme.pcss";

.$(prefix) {
  &--divider {
    height: 0.0625rem;
    margin: 0;
    border: 0;
    opacity: 1;

    &-default {
      background-color: $color--app-02;
    }

    &-subtle {
      background-color: $color--app-01;
    }

    &-harsh {
      background-color: $color--app-03;
    }
  }
}
