@import "../prefix.pcss";
@import "../theme.pcss";

.$(prefix) {
  &--divider {
    width: 100%;
    height: 0.0625rem;
    margin: 0;
    border: 0;
    opacity: 1;

    &-default {
      background-color: $color--divider-default;
    }

    &-subtle {
      background-color: $color--divider-subtle;
    }

    &-harsh {
      background-color: $color--divider-harsh;
    }
  }
}
