@import "../colors.pcss";
@import "../theme.pcss";

.floatingpanel {
  min-width: $container-02;
  max-width: calc($container-07 * 2);
  min-height: $container-02;
  padding: $spacing-02;
  border: 1px solid $floatingpanel-border;
  border-radius: 2px;
  background-color: $floatingpanel-background;
  color: $floatingpanel-color;
}
