@import "../prefix.pcss";
@import "../colors.pcss";
@import "../theme.pcss";

.$(prefix) {
  &--floatingpanel {
    min-height: $size--container-02;
    border: 0.0625rem solid $color--border;
    border-radius: $component--radius-default;
    background-color: $color--background;
    box-shadow: $component--shadow-default;
  }
}
