@import "../prefix.pcss";
@import "../colors.pcss";
@import "../theme.pcss";

.$(prefix)--floatingpanel {
  min-height: $container-02;
  padding: $spacing-02;
  border: 0.0625rem solid $color--border-default;
  border-radius: 2px;
  background-color: $color--background;
}
