@import "../typography.pcss";
@import "../theme.pcss";

.range-input {
  &--container {
  }

  &--label {
  }

  &--slider-container {
    display: flex;
  }

  &--slider {
    display: flex;
    &--thumb {
    }
    &--track {
    }
    &--track-filled {
    }
  }

  &--range-input {
  }
}
