/* -- Keyframe Transitions -- */
@keyframes accordion-transition-in {
  0% {
    padding: 0 var(--size-spacing-04) var(--size-spacing-04)
      var(--size-spacing-04);
    opacity: 0;
  }

  100% {
    padding: var(--size-spacing-04) var(--size-spacing-04)
      var(--size-spacing-04) var(--size-spacing-04);
    opacity: 1;
  }
}

@keyframes loading {
  0%,
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    transform: translateX(100%);
    opacity: 1;
  }
}
