@import "../../styles/colors.pcss";

.logo {
  &--black {
    fill: #000;
  }

  &--white {
    fill: #fff;
  }

  &:hover > path {
    fill: $purple-60;
  }
}

.logo > path {
  transition: 0.3s ease-in-out;
}

.logo.logo--small {
  height: 32px;
}

.logo.logo--medium {
  height: 48px;
}

.logo.logo--large {
  height: 64px;
}

.logo.logo--xlarge {
  height: 96px;
}
