@import "./fonts.css";

.sb-show-main.sb-main-padded {
  padding: 0;
}

.sb-intro {
  padding: 2rem;

  &--container {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--headline {
    margin-top: 2rem;
    color: white;
  }

  &--subline {
    margin-top: 1rem;
    color: white;
  }
}

.bb--grid-example {
  padding: 1rem;
  border: 0.0625rem dashed #7633ff;
  background-color: #206;
  color: #fff;
}
