@import "./fonts.css";

.sb-show-main.sb-main-padded {
  padding: 0;
}

.sb-intro {
  padding: 2rem;

  &--container {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--headline {
    color: white;
  }

  &--logo {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }

  &--subline {
    margin-top: 1rem;
    color: white;
  }
}

body.sb-show-main {
  transition: background-color 0.2s !important;
  background-color: var(--color-app-background);
}

.bb--grid-example {
  padding: 1rem;
  border: 0.0625rem dashed #7633ff;
  background-color: #206;
  color: #fff;
}

.bb--lottie-example {
  display: inline-flex;
  position: absolute;
  height: 1rem;
}
